@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@media (-webkit-device-pixel-ratio: 1.25) {
    * {
      zoom: 0.8;
    }
  }




body {
    background-image: url('../images/background1.jpg');
    height: 100vh;
    background-size: cover;
}
body,
  html {
    height: 100%;
   
  
}

.login {
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: Inter;
}
.login-text {
    color: grey;
    display: inline-block;
    text-align:left;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
  }


.home-logo {
    width: 160px;
    height: auto;
}

.home-logo-landing {
    width: 160px;
    height: auto;
    margin-top: -5%;

}

.home-logo-general {
    width: 160px;
    height: auto;
    

}
.homepage-label {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.general-background {
    
    border-radius: 10px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px;
    height: 95%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    font-family: Inter;
    
}

.backlandingbutton {  
    color: #4CBAE9 ;
    font-weight: 700;
  
    text-decoration: none;
    
    
    
   
}
.title {
    font-size: 22px;
}

.login-button {
    margin-top: 25px;
  
}

.landing-buttons-right {
    text-align: right;


}





.sibuttons {
    text-align: center;
   
    
}