
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../static/js/popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js" integrity="sha512-zjlf0U0eJmSo1Le4/zcZI51ks5SjuQXkU0yOdsOBubjSmio9iCUp8XPLkEAADZNBdR9crRy3cniZ65LF2w8sRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">

        <div class="general-background">


            <div class="main-wrapper">
              <img class="home-logo-general" src="../static/images/home_logo.PNG" >

            <h3>Quiz Results</h3>
            <a href="/landing" class="bi bi-arrow-left backlandingbutton">Back to landing page</a>
            <div class="sibuttons">

              <!-- Here a form is used for each function so that a POST request can be used after submitting, also generating a URL -->
             

              
              <button  class="btn btn-primary me-1" onclick="openForm('uploadForm')">Upload New Data</button>
              <div class="popup-form" id="uploadForm">
                <form action={{ url_for ('uploadnewdata')}} class="form-container" method="POST" enctype="multipart/form-data">
                  <h3>Upload New Data</h3>
                  <input type="text" placeholder="Student ID" name="student-id" required>
              
                  <input type="text" placeholder="Module" name="module" required>
                  <input type="text" placeholder="Quiz Result" name="quiz-result" required>
    
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-primary" onclick="closeForm('uploadForm')">Close</button>
                </form>
              </div>
              
              <button  class="btn btn-primary me-1" onclick="openForm('updateForm')">Update Existing Data</button>
              <div class="popup-form" id="updateForm">
                <form action={{ url_for ('updateexistingdata')}} class="form-container" method="POST" enctype="multipart/form-data">
                  <h3>Update Existing Data</h3>
                  <input type="text" placeholder="Student ID" name="student-id" required>
              
                  <input type="text" placeholder="Module" name="module" required>
                  <input type="text" placeholder="Quiz Result" name="quiz-result" required>
    
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-primary" onclick="closeForm('updateForm')">Close</button>
                </form>
              </div>



              <button class="btn btn-primary me-1" onclick="openForm('deleteForm')">Delete Data</button>
              <div class="popup-form" id="deleteForm">
                <form action={{ url_for ('deletedata')}} class="form-container" method="POST" enctype="multipart/form-data">
                  <h3>Delete Data</h3>
                  <input type="text" placeholder="Student ID" name="student-id" required>  
                  <input type="text" placeholder="Module" name="module" required>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-primary" onclick="closeForm('deleteForm')">Close</button>
                  
                </form>

              </div>
              <form action={{ url_for('viewdata') }} target="_blank" >
                <button class="btn btn-primary me-1"  type="submit" >View Raw Data</button> 
              </form>
            </div>
            <!-- Another form is used for the dropdown links where the selected module is posted to the backend -->
            <form action="{{ url_for('quizresults')}}" method="post" enctype="multipart/form-data"> 
            
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  {{selectedmodule}}
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><input class="dropdown-item" href="#" type="submit" name="module"  value="WM160"/></li>
                  <li><input class="dropdown-item" href="#" type="submit" name="module"  value="WM161"/></li>
                  <li><input class="dropdown-item" href="#" type="submit" name="module"  value="WM162"/></li>
                  <li><input class="dropdown-item" href="#" type="submit" name="module"  value="WM163"/></li>
                </ul>
              </div>
            </form>
              <div class="quiz-results-info">
                <h4>Mean Quiz Results: {{ mean_results }}</h4>
                <h4>Standard Deviation: {{ standard_deviation }}</h4>
              </div>  
            </div>
            <div style="height: 500px; padding-left: 100px; padding-top: 20px;">
              <canvas id="scatter" width="720" height="480" ></canvas>
            </div>
            <script>
              var context = document.getElementById("scatter").getContext("2d");
              var scatterGraph = new Chart(context, {
                type:"scatter",
                responsive: true,
                maintainAspectRatio: false,
                data: {
                  datasets: [{
                    label: "Module Marks (y-axis) and Quiz Results (x-axis)",
                    data: {{ data | safe }},
                    backgroundColor: 'rgb(255, 99, 132)',
                  }]
                }
               

              })
  
            </script>
        </div>
    </div>   
</body>

</html>