
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <div class="container">
        <div class="general-background">
            <img class="home-logo-general" src="../static/images/home_logo.PNG" >
            <h3>Quiz Results</h3>
            <a href="/landing" class="bi bi-arrow-left backlandingbutton">Back to landing page</a>
            <div class="sibuttons">


              <form style="display: inline;" action={{ url_for('uploadnewdata') }} method="POST">
                <label for="files" class="btn btn-primary me-1">Upload New Data</label>
                <input id="files" style="visibility:hidden;" type="file" name="file">
                <input type="submit" class="btn btn-primary me-1" />
                
                


              </form>

              <form style="display: inline;" action={{ url_for('viewdata') }} target="_blank" >
                <input class="btn btn-primary me-1"  type="submit" value="View Raw Data">
              </form>

              <form style="display: inline;">
                <input class="btn btn-primary me-1" type="submit" value="Update Existing Data">
              </form>

              <form style="display: inline;">
                <input class="btn btn-primary me-1" type="submit" value="Delete Data">
              </form>






            </div>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Module
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">WM160</a></li>
                  <li><a class="dropdown-item" href="#">WM161</a></li>
                  <li><a class="dropdown-item" href="#">WM162</a></li>
                  <li><a class="dropdown-item" href="#">WM163</a></li>
                </ul>
              </div>
            


        </div>
        
           
            
            
    
        

    </div>    

    
    

</body>

</html>